.landing-hero {
  display: flex;
  flex-direction: column;
  height: 91.2rem;
  @include for-tablet-landscape-up {
    height: 59.2rem;
    flex-direction: row;
  }
}

.landing-hero__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  @include for-tablet-portrait-up {
    align-items: flex-start;
    padding: 0 $l-size 0 11.8rem;
  }
  h1 {
    color: $secondary-accent-color;
    margin: 0;
    font-size: 4.8rem;
    line-height: $leading-snug;
    &:first-child {
      color: #fff;
    }
    @include for-tablet-portrait-up {
      font-size: 6.4rem;
    }
  }
  button {
    margin-top: $l-size;
  }
  svg {
    position: absolute;
    top: 5.6rem;
    left: 9.6rem;
    z-index: $z-bottom;
  }
}
