// BOX-SHADOWS
$depth-1: 0 1px 3px rgba(29, 29, 37, 0.12), 0 1px 2px rgba(29, 29, 37, 0.24);
$depth-2: 0 3px 6px rgba(29, 29, 37, 0.16), 0 3px 6px rgba(29, 29, 37, 0.23);
$depth-3: 0 10px 20px rgba(29, 29, 37, 0.19), 0 6px 6px rgba(29, 29, 37, 0.23);
$depth-4: 0 14px 28px rgba(29, 29, 37, 0.25), 0 10px 10px rgba(29, 29, 37, 0.22);
$depth-5: 0 19px 38px rgba(29, 29, 37, 0.3), 0 15px 12px rgba(29, 29, 37, 0.22);

$depth-1--inset: inset 0 1px 3px rgba(29, 29, 37, 0.12),
  inset 0 1px 2px rgba(29, 29, 37, 0.24);
$depth-2--inset: inset 0 3px 6px rgba(29, 29, 37, 0.16),
  inset 0 3px 6px rgba(29, 29, 37, 0.23);
$depth-3--inset: inset 0 10px 20px rgba(29, 29, 37, 0.19),
  inset 0 6px 6px rgba(29, 29, 37, 0.23);
$depth-4--inset: inset 0 14px 28px rgba(29, 29, 37, 0.25),
  inset 0 10px 10px rgba(29, 29, 37, 0.22);
$depth-5--inset: inset 0 19px 38px rgba(29, 29, 37, 0.3),
  inset 0 15px 12px rgba(29, 29, 37, 0.22);

// TYPOGRAPHY
// Truncate Text
@mixin truncated($width) {
  width: $width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
// Line height
$leading-none: 1;
$leading-tight: 1.25;
$leading-snug: 1.375;
$leading-normal: 1.5;
$leading-relaxed: 1.625;
$leading-loose: 2;

// Z-INDEX
$z-top: 50;
$z-1: 3;
$z-2: 2;
$z-3: 1;
$z-bottom: -50;

// TRANSITIONS
$default-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
$pop-in-transition: all 0.4s cubic-bezier(1, -0.65, 0, 2.31);

// BREAKPOINTS
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
