.add-ons {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  @include for-tablet-landscape-up {
    flex-direction: row;
    align-items: flex-start;
  }
  background-color: $background-color--secondary;
  padding: 9.6rem $xl-size 11.2rem;
  ul {
    list-style: none;
    margin: 0;
    li {
      position: relative;
      p {
        opacity: 0.8;
        line-height: $leading-normal;
      }
      svg {
        position: absolute;
        top: 0.4rem;
        left: -3.2rem;
      }
    }
  }
}

.add-ons__main {
  margin: 0 14vw $xl-size 0;
  @include for-tablet-landscape-up {
    max-width: 33vw;
    margin: 0 14.4rem 0 0;
  }
  p {
    line-height: $leading-loose;
  }
}
