.team-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem $xl-size 0;
  position: relative;
  h2 {
    @extend .section-heading;
  }
  svg {
    position: absolute;
    top: 5.6rem;
    left: 34vw;
    z-index: $z-bottom;
  }
}

.team-section__cards {
  display: grid;
  grid-template-columns: 1fr;
  @include for-tablet-landscape-up {
    grid-template-columns: 1fr 1fr;
  }
  @include for-desktop-up {
    grid-template-columns: 1fr 1fr 1fr;
  }
  column-gap: $l-size;
}
.team-section__card {
  @extend .card-background;
  padding: 2rem 3.6rem $xl-size;
  margin-bottom: $l-size;
  h4,
  h5 {
    font-size: 2.4rem;
    font-weight: 600;
    margin: 0;
  }
  h4 {
    margin-top: $l-size;
  }
  h5 {
    color: $bright-green;
    margin-bottom: $m-size;
  }
  p {
    margin: 0;
    font-size: 2rem;
    line-height: $leading-relaxed;
  }
  img {
    border-radius: 704px;
    max-width: calc(33vw - (#{$xl-size} * 2));
  }
}
